name: 'deployment-status'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - run: npm install
        working-directory: deployment-status
      - run: npm run all
        working-directory: deployment-status

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: ./deployment-status/
        with:
          environment_url: "https://my.environment.de/${{ github.sha }}"
          environment: qa
          ref: ${{ github.head_ref }}
          token: "${{ secrets.GITHUB_TOKEN }}"
