name: global-variables
on: push

jobs:
  global-variables:
    name: global-variables
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repo
        uses: actions/checkout@master
      - name: set-global-vars
        uses: ./global-variables
      - name: test
        run: |
          [[ "$TEST" == "TEST123" ]]
          [[ "$TEST2" == "https://test.de?URL=test.de" ]]
